@import url(grid.css);
@media screen and (max-width:768px) {
  :root {
    font-size: 10px;
  }
}
@media screen and (min-width:768px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (min-width:992px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width:1200px) {
  :root {
    font-size: 16px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.wrap {
  width: 68.75rem;
  margin: 0 auto;
  overflow: hidden;
}
.noselect {
  user-select: none;
}
.content {
  margin-top: 2.875rem;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translate(0,10%);
  }
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}
@font-face {
  font-family: 'iconfont';  /* project id 1716941 */
  src: url('//at.alicdn.com/t/font_1716941_s856juz0lep.eot');
  src: url('//at.alicdn.com/t/font_1716941_s856juz0lep.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1716941_s856juz0lep.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1716941_s856juz0lep.woff') format('woff'),
  url('//at.alicdn.com/t/font_1716941_s856juz0lep.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1716941_s856juz0lep.svg#iconfont') format('svg');
}
